body{
    margin: 0;
    background-color: rgb(32, 32, 50);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.main{ /*Main Page Container*/
    padding-top: .5em;
    margin-top: .5em;
    width: 100%;
    height: auto;
    text-align: center;
}

.main #header{ /*Page Header*/
    width: 100%;
    min-height: 21em;
    height:auto;
    background-image: url("/images/projects/cgt241/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    box-shadow: 0px 0px .5em .1em black;
    display: inline-block;
}

.main #header h1{
    margin-top: 2.5em;
}

.main #header h4{
    margin-top: -1em;
    color: rgb(177, 177, 177);
}

.main #header button{
    padding: 1em;
    color: white;
    font-size: .8em;
    background-image: linear-gradient(90deg, #4776e6, #8e54e9);
    border-radius: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: -.5em;
    margin-bottom: 1em;
}

.main #header button img{
    height: 1em;
    width: 1em;
    margin-right: .3em;
}

.main #header button:hover{
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.359);
}

.content{ /*Page Content*/
    width: 100%;
    height: auto;
    background-image: url("/images/main/bg0.jpg");
    background-size: cover;
    background-position: center;
}

.content .post{
    width: 15em;
    height: auto;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    box-shadow: 0 0 .5em .1em rgba(0, 0, 0, .500);
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.content .post:hover{
    width: 15.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.content .post .title{
    width: auto;
    height: 4em;
    font-size: .45em;
    background-image: linear-gradient(90deg, #4776e6, #8e54e9);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: -2em;
    z-index: 1;
}

.content .post img{
    width: 100%;
    height: auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.content .post .title h1{
    color: white;
}