#picZoom{  /*Full background container*/
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.picZoom-content{ /*Picture container*/
    margin: auto;
    display: none;
    height: 80%;
    width: auto;
}

.picZoom-content img{
    display: none;
}

.closeIcon{ /*Close Icon*/
    color:white;
    position: absolute;
    top: 10px;
    right:25px;
    font-size: 35px;
    font-weight: bold;
}

.closeIcon:hover, .closeIcon:focus{
    background: -webkit-linear-gradient(0deg, #4776e6, #8e54e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}