@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200&display=swap');

@media screen and (max-width: 500px) {
    .document {
        width: 50em;
        height: 62.5em;
        max-width: 90%;
        max-height: 32em;
    }
}

body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: rgb(33, 32, 50);
    font-family: 'Lexend Deca', sans-serif;
    background-image: url(../images/background.png);
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

#navbar {
    font-family: 'Lexend Deca', sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 64px;
    text-shadow: 3px 3px 5px #000000;
}

#navbar a {
    float: right;
    margin-right: 1em;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    font-weight: 300;
    font-style: normal;
    margin-top: 1em;
    text-decoration: none;
    transition: color 200ms ease-in-out;
}

#navbar #a-projects {
    color: rgba(255, 255, 255, 1);
}

#navbar img {
    float: left;
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-top: .5em;
}

.page-container {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    max-width: 80%;

}

h1 {
    color: white;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    margin-top: -1em;
    color: rgba(255, 255, 255, 0.7);
}

p {
    color: rgb(175, 175, 175);
}

.text-section {
    color: white;
}

.text-emphasis {
    color: #6A53CB;
    font-weight: bold;
}

.description-wrapper {
    text-align: left;
}

.document {
    width: 40%;
    height: auto;
    aspect-ratio: 1/1.4;
    margin-bottom: 1em;
}

.video {
    width: 60%;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 1em;
    margin-top: 2em;
}

.images {
    width: 75%;
    margin: 0 auto;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.img-col {
    flex: 15%;
    max-width: 50%;
    padding: 0 5px;
}

.img-col img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: 1em;
    cursor: pointer;
}

.view-btn {
    width: 12em;
    height: 3em;
    font-family: 'Lexend Deca', sans-serif;
    border: 2px solid rgb(97, 97, 163);
    background-color: rgba(97, 97, 163, 0.15);
    color: white;
    border-radius: 1em;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.view-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    font-weight: bold;
}

.btn-img {
    height: 25px;
    width: auto;
    margin-right: .5em;
    filter: invert() brightness(100%) opacity(60%);
}

.view-btn>.btn-img,
.view-btn>.btn-text {
    vertical-align: middle;
}

.mockup-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.mockup-col {
    flex: 25%;
    padding: 0 5px;
}

.mockup-col img {
    width: 15vw;
    max-width: 275px;
}

.mockup-col p {
    font-size: 3vw;
}

.code-snippet {
    text-align: left;
    background-color: #3A3858;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 2.5vw;
}

@media screen and (min-width: 400px) {
    .code-snippet {
        font-size: 1em;
    }

    .mockup-col p {
        font-size: 1em;
    }
}

.code-snippet .cmt {
    color: #93929e;
}

.code-snippet .indent {
    margin-left: 28px;
}

.code-snippet .one {
    color: #9E98F0;
}

.code-snippet .two {
    color: #9b6de0;
}